<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="field col-md-2">
        <%= form.label :width %>
        <%= form.text_field :width %>
      </div>

      <div class="field col-md-2">
        <%= form.label :height %>
        <%= form.text_field :height %>
      </div>

      <div class="col-md-6">
        <h1>Players</h1>
        TODO: Multiselect
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
