<%= stylesheet_pack_tag "games" %>
<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">

    <div class ="col-md-6">
      <table class="game">
        <% (1..@game.height).each do |h| %>
        <tr>
          <% (1..@game.width).each do |w| %>
          <td class="border-cell"></td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <h4>Bot Players</h4>
        </div>
        
          <% @bots.each do |bot| %>
            <div class="row">
              <p>
                <%= "#{bot.name} Iteration: #{bot.evolution_count}" %>
                | <%= link_to("Show", edit_game_bot_path(@game, bot)) %>
                | <%= link_to("Play", play_path(bot)) %>
              </p>
            </div>
          <% end %>
        <!--<div class="row">
          <%= link_to("New Bot", new_game_bot_path(@game))%>
        </div>-->
      </div>
    </div>

  </div>
  <div class="row">
    <%= link_to 'Back', games_path %>
  </div>
</div>

