<%= form_with(model: [game, bot], local: true) do |form| %>
  <% if bot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bot.errors.count, "error") %> prohibited this bot from being saved:</h2>

      <ul>
      <% bot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container overflow-hidden">
    <div class="row gy-2">
      <div class="field col-md-6">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div class="field col-md-6">
        <%= form.label :static %>
        <%= form.check_box :static %>
      </div>

      <div class="col-md-2">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
