<%= stylesheet_link_tag "bots" %>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @game.width %> x <%= @game.height %> Size Bots</h1>

  <table class="spaced-table">
    <thead>
      <td>Name</td>
      <td>Static</td>
      <td>Actions</td>
    </thead>

    <tbody>
      <% @bots.each do |bot| %>
        <tr>
          <td><%= bot.name %></td>
          <td><%= bot.static?.to_s %></td>
          <td><%= link_to('Edit', edit_game_bot_path(@game, bot)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="row">
    <div class='col-md-1'><%= link_to('Back', game_path(@game)) %></div>
    <div class='col-md-1'><%= link_to('New Bot', new_game_bot_path(@game)) %></div>
  </div>
</div>