<%= stylesheet_link_tag "bots" %>

<p id="notice"><%= notice %></p>

<h1>Bots</h1>

<table class="spaced-table">
  <thead>
    <td>Name</td>
    <td>Static</td>
    <td>Actions</td>
  </thead>

  <tbody>
    <% @bots.each do |bot| %>
      <tr>
        <td><%= bot.name %></td>
        <td><%= bot.static?.to_s %></td>
        <td><%= link_to 'Show', bot %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Edit', edit_game_bot_path(@game, bot) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bot', new_game_bot_path(@game) %>
